* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  /* 62.5% = 10px = 1rem */
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

:root {
  --background-color-primary: #fff;
  --background-color-secondary: #f8f8f8;

  --primary-color: #252160;
  --secondary-color: #3affe5;

  --text-color-white: #ffffff;
  --text-color-light-blue: #32b5ff;
  --text-color-gray: #7b7b7b;
  --text-title-secundary-color: #3c5882;
  --bg-color-gradient: #26dad9;
  --star-color: #ff9900;

  /* fonts */
  --font-default: "Inter", sans-serif;
  --font-title-primary: "Fredoka One", cursive;
  --font-title-secondary: "Nunito", sans-serif;
}

body {
  font-family: var(--font-default);
  -webkit-font-smoothing: antialiased;
}

/* MOBILE DEVICES */
.container {
  min-width: 37.5rem;
  min-height: 74.5rem;
}

header {
  width: 100%;
  height: 6.9rem;
  background: var(--background-color-primary);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
}

.menu ul li {
  text-align: center;
}

.menu ul li a {
  position: relative;
}

/* Escondendo menu mobile */
nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}
nav .menu ul {
  display: none;
}

/* mostrar Menu */

nav.show .menu {
  opacity: 1;
  visibility: visible;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 4rem;
}

/* toggle menu */

.toggle {
  font-size: 3rem;
  color: var(--primary-color);
}

.toggle:hover {
  cursor: pointer;
  color: var(--text-color-gray);
  transition: 0.2s;
}

nav .icon-close {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  transition: 0.2s;
}

nav.show div.icon-close {
  opacity: 1;
  visibility: visible;
  top: 1rem;
}

/* main content */

.container.primary {
  background: var(--primary-color);
}

main .content {
  width: 31.4rem;
  min-height: 28.6rem;
  text-align: center;
  margin: 0 auto;
  display: grid;
  padding: 20rem 0 20rem 0;
}

main .content .container-robot-text p {
  color: var(--secondary-color);
  font-size: 1.4rem;
  font-weight: 600;
}
main .content .emphasis {
  font-family: var(--font-title-primary);
  font-size: 4rem;
  color: var(--text-color-white);
}

main .content .emphasis > span {
  color: var(--secondary-color);
}
main .content p {
  margin: 2.3rem 0 2rem 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: var(--text-color-white);
}

main .container .button-container.secondary {
  margin: 9.5rem auto 0;
  width: 29.5rem;
  height: 4.585rem;

  border: none;
  border-radius: 0.75rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

main .container .button-container.secondary {
  background: var(--secondary-color);
}

main .container .button-container.secondary a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--primary-color);
}

main .container .button-container.secondary i {
  font-size: 1.6rem;
  color: var(--primary-color);
  align-self: center;
}

/* section institutions and  services*/

.institutions {
  display: flex;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: nowrap;
  flex-direction: row;
  /* Criando rolagem lateral */
  overflow-x: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}

.institutions li {
  padding: 1rem;
  margin: 0 auto;
  min-height: 2.5rem;
}

/* services */

.cards-container {
  display: grid;
  padding: 5rem;
  gap: 2.7rem;
  margin: 5rem auto 10rem;
}

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.card img {
  display: block;
  align-self: center;
  justify-self: center;
}

.card h2 {
  text-align: center;
  font-size: 1.8rem;
  color: var(--primary-color);
}

.card p {
  text-align: center;
  font-size: 1.2rem;
  color: var(--text-color-gray);
  max-width: 25rem;
}

/* new button */

section .button-container.primary {
  background: var(--primary-color);
  margin: 0 auto 4.3rem;
  width: 30rem;
  height: 5.7rem;

  border: none;
  border-radius: 0.75rem;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

section .button-container.primary a {
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--text-color-white);
}

section .button-container.primary i {
  font-size: 1.6rem;
  color: var(--text-color-white);
  align-self: center;
}

/* more content */
.container.secondary {
  background: var(--background-color-secondary);
  padding: 5rem;
}

.container.secondary .information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.8rem;
  margin: 4rem 5rem 4rem 5rem;
  min-width: 2.73rem;
  min-height: 1.77rem;
}

.container.secondary .information h2 {
  font-size: 2rem;
  color: var(--text-color-light-blue);
  font-weight: 700;
  line-height: 2.728rem;
  text-transform: uppercase;
  font-family: var(--font-title-secondary);
}

.container.secondary .information span {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.178rem;
  color: var(--primary-color);
}

.container.secondary .information p {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.452rem;
  color: var(--text-color-gray);
}

.container.secondary .img-1 {
  width: 29.8rem;
  height: 29.8rem;
  margin: 3.9rem;
}

.container.secondary .img-2 {
  width: 28.628rem;
  height: 31.24rem;
  margin: 4.2rem 1.02rem 2.117rem 1.8rem;
  transform: rotate(-1deg);
}

/* Sales */

.container.sales {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
}

.container.sales {
  text-align: center;
}

.container.sales > h2 {
  margin-top: 5rem;
  color: var(--text-color-light-blue);
  font-size: 2rem;
  line-height: 2.728rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: var(--font-title-secondary);
}

.container.sales > h3 {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 2.178rem;
  font-weight: 600;
  font-family: var(--font-default);
  margin-bottom: 5rem;
}

.container .sales-container.primary {
  background-color: var(--primary-color);
}

.container .sales-container {
  display: grid;
  width: 31.959rem;
  height: 38.799rem;
  border-radius: 1rem;
  text-align: left;
}

.sales-container .sale-header {
  display: flex;
  gap: 5rem;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin-top: 3rem;
}

.sales-container .sale-title {
  margin-left: 2rem;
  margin-top: 2rem;
}

.sales-container .sale-title h2 {
  color: var(--text-color-white);
  font-family: var(--font-title-secondary);
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.182rem;
  margin-top: 0.5rem;
}

.sales-container .sale-title > p {
  color: var(--text-title-secundary-color);
  font-size: 1.2rem;
  line-height: 1.637rem;
  font-family: var(--font-title-secondary);
  font-weight: 700;
}

.sale-header .highlight-discount {
  background-image: url("../assets/star.png");
  width: 8.3rem;
  height: 8.8rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  transform: rotate(15deg);
  margin-right: 0.8rem;
}

.sale-header .highlight-discount sup {
  text-align: center;
  margin-top: 2.5rem;
  font-size: 2rem;
  font-weight: 800;
  font-family: var(--font-title-secondary);
  line-height: 2.728rem;
  color: #252160;
}
.sale-header .highlight-discount span {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.091rem;
  font-family: var(--font-title-secondary);
  color: #252160;
}

.sales-container .container-benefits {
  display: grid;
  gap: 1rem;
}

.sales-container .container-benefits span {
  margin-left: 2rem;
  font-family: var(--font-title-secondary);
  font-weight: 700;
  line-height: 1.637rem;
  font-size: 1.2rem;
  color: var(--text-color-light-blue);
}

.sales-container .container-benefits .benefits-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  justify-content: center;
  width: 23.268rem;
  height: 13.817rem;
  margin: 0 auto;
  gap: 0.7rem;
}

.sales-container .container-benefits .benefits-list li {
  font-size: 0.9rem;
  font-family: var(--font-title-secondary);
  font-weight: 400;
  line-height: 1.76rem;
  color: var(--text-color-white);
}

.sales-container .container-benefits .benefits-list li i {
  margin-right: 0.8rem;
}

.sales-container .container-price {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.sales-container .container-price .price span {
  font-size: 0.8rem;
  color: var(--text-color-gray);
  font-weight: 300;
}

.sales-container .container-price .price .highlight-price {
  color: var(--text-color-white);
  font-size: 2rem;
}
.sales-container .container-price .price .highlight-price sup {
  font-size: 0.8rem;
  color: var(--text-color-gray);
}

.sales-container .container-price .price .highlight-price .first-sup-price {
  color: var(--secondary-color);
}

.sales-container .container-price .button-container {
  width: 11.158rem;
  height: 3.364rem;
  background: var(--bg-color-gradient);
  text-align: center;
  border-radius: 0.5rem;
  padding: 1rem;
}

.sales-container .container-price .button-container a {
  padding-top: 1rem;
  font-size: 1rem;
  color: var(--text-color-white);
  font-weight: 700;
  line-height: 1.3rem;
}



.testimonials p::after {
  width: 5.5rem;
  content: url("../assets/quotes.svg");
}
